.animate--loader {
  top: 0rem;
  left: 0rem;
  animation: Loader 2s linear infinite;
}

@keyframes Loader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
