$shades: shades($colors);
$lightness: transparency('lightness', rgb(255, 255, 255, 1));
$darkness: transparency('darkness', rgb(0, 0, 0, 1));

@include set_classes(
  (
    class: 'color',
    properties: color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);

@include set_classes(
  (
    class: 'bg',
    properties: background-color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: map-merge($shades, map-merge($lightness, $darkness)),
  )
);

@include set_classes(
  (
    class: 'border',
    properties: border-color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);
