$shades: shades($colors);

@include set_classes(
  (
    class: 'color',
    properties: color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);

@include set_classes(
  (
    class: 'bg',
    properties: background-color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);

@include set_classes(
  (
    class: 'border',
    properties: border-color,
    pseudos: (
      hover: ':hover',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);
