$SIZING: (
  0: 0rem,
  auto: auto,
  px: 0.1rem,
  2: calc(var(--size) / 4),
  4: calc(var(--size) / 2),
  8: calc(var(--size) * 1),
  12: calc(var(--size) * 1.5),
  16: calc(var(--size) * 2),
  20: calc(var(--size) * 2.5),
  24: calc(var(--size) * 3),
  32: calc(var(--size) * 4),
  36: calc(var(--size) * 4.5),
  40: calc(var(--size) * 5),
  48: calc(var(--size) * 6),
  56: calc(var(--size) * 7),
  64: calc(var(--size) * 8),
  80: calc(var(--size) * 10),
  96: calc(var(--size) * 12),
  120: calc(var(--size) * 15),
  160: calc(var(--size) * 20),
  200: calc(var(--size) * 25),
  240: calc(var(--size) * 30),
  280: calc(var(--size) * 35),
  320: calc(var(--size) * 40),
  360: calc(var(--size) * 45),
  440: calc(var(--size) * 55),
  520: calc(var(--size) * 65),
  640: calc(var(--size) * 80),
  720: calc(var(--size) * 90),
  800: calc(var(--size) * 100),
  960: calc(var(--size) * 120),
  1\/12: 8.33%,
  2\/12: 16.67%,
  3\/12: 25%,
  4\/12: 33.33%,
  5\/12: 41.67%,
  6\/12: 50%,
  7\/12: 58.33%,
  8\/12: 66.67%,
  9\/12: 75%,
  10\/12: 83.33%,
  11\/12: 91.67%,
  full: 100%,
  min: min-content,
  max: max-content,
  fit: fit-content,
);

@include set_classes(
  (
    class: 'size',
    responsive: true,
    properties: (
      width: width,
      height: height,
    ),
    values: $SIZING,
  )
);

@include set_classes(
  (
    class: 'w',
    responsive: true,
    properties: width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'min-w',
    responsive: true,
    properties: min-width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'max-w',
    responsive: true,
    properties: max-width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'h',
    responsive: true,
    properties: height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svh: 100svh,
          lvh: 100lvh,
          dvh: 100dvh,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'min-h',
    responsive: true,
    properties: min-height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svh: 100svh,
          lvh: 100lvh,
          dvh: 100dvh,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'max-h',
    responsive: true,
    properties: max-height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svh: 100svh,
          lvh: 100lvh,
          dvh: 100dvh,
        )
      ),
  )
);
