$SIZING: (
  0: 0rem,
  2: calc(var(--size) / 4),
  4: calc(var(--size) / 2),
  8: calc(var(--size) * 1),
  12: calc(var(--size) * 1.5),
  16: calc(var(--size) * 2),
  20: calc(var(--size) * 2.5),
  24: calc(var(--size) * 3),
  32: calc(var(--size) * 4),
  40: calc(var(--size) * 5),
  48: calc(var(--size) * 6),
  56: calc(var(--size) * 7),
  64: calc(var(--size) * 8),
  80: calc(var(--size) * 10),
  96: calc(var(--size) * 12),
  136: calc(var(--size) * 17),
  176: calc(var(--size) * 22),
  216: calc(var(--size) * 27),
  256: calc(var(--size) * 32),
  296: calc(var(--size) * 37),
  376: calc(var(--size) * 47),
  456: calc(var(--size) * 57),
  536: calc(var(--size) * 67),
  640: calc(var(--size) * 80),
  720: calc(var(--size) * 90),
  800: calc(var(--size) * 100),
  960: calc(var(--size) * 120),
  1024: calc(var(--size) * 140.5),
  1124: calc(var(--size) * 1.5),
  1240: calc(var(--size) * 155),
  1366: calc(var(--size) * 170.75),
  1\/12: calc(8.33% * 1),
  2\/12: calc(8.33% * 2),
  3\/12: calc(8.33% * 3),
  4\/12: calc(8.33% * 4),
  5\/12: calc(8.33% * 5),
  6\/12: calc(8.33% * 6),
  7\/12: calc(8.33% * 7),
  8\/12: calc(8.33% * 8),
  9\/12: calc(8.33% * 9),
  10\/12: calc(8.33% * 10),
  11\/12: calc(8.33% * 11),
  12\/12: calc(8.33% * 12),
  min: min-content,
  max: max-content,
  fit: fit-content,
);

@include set_classes(
  (
    class: 'w',
    responsive: true,
    properties: width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'min-w',
    responsive: true,
    properties: min-width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'max-w',
    responsive: true,
    properties: max-width,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vw,
          svw: 100svw,
          lvw: 100lvw,
          dvw: 100dvw,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'h',
    responsive: true,
    properties: height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svw: 100svh,
          lvw: 100lvh,
          dvw: 100dvh,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'mn-h',
    responsive: true,
    properties: min-height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svw: 100svh,
          lvw: 100lvh,
          dvw: 100dvh,
        )
      ),
  )
);

@include set_classes(
  (
    class: 'max-h',
    responsive: true,
    properties: max-height,
    values:
      map-merge(
        $SIZING,
        (
          screen: 100vh,
          svw: 100svh,
          lvw: 100lvh,
          dvw: 100dvh,
        )
      ),
  )
);
