@include set_classes(
  (
    class: 'text',
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      placeholder: '::placeholder',
    ),
    values: (
      12: (
        line-height: normal,
        font-size: calc(var(--font-size) * 1.2),
      ),
      13: (
        line-height: normal,
        letter-spacing: -0.02em,
        font-size: calc(var(--font-size) * 1.3),
      ),
      14: (
        line-height: 1.5,
        letter-spacing: -0.009em,
        font-size: calc(var(--font-size) * 1.4),
      ),
      16: (
        line-height: 1.4,
        font-size: calc(var(--font-size) * 1.6),
      ),
      18: (
        line-height: 1.4,
        letter-spacing: -0.02em,
        font-size: calc(var(--font-size) * 1.8),
      ),
      20: (
        line-height: 1.35,
        letter-spacing: -0.02em,
        font-size: calc(var(--font-size) * 2),
      ),
      24: (
        line-height: 1.35,
        letter-spacing: -0.02em,
        font-size: calc(var(--font-size) * 2.4),
      ),
      32: (
        line-height: 1.3,
        letter-spacing: -0.02em,
        font-size:
          clamp(calc(var(--font-size) * 2.4), 3vw, calc(var(--font-size) * 3.2)),
      ),
      40: (
        line-height: 1.15,
        letter-spacing: -0.0325em,
        font-size:
          clamp(calc(var(--font-size) * 2.4), 3.5vw, calc(var(--font-size) * 4)),
      ),
      48: (
        line-height: 1.2,
        font-size:
          clamp(calc(var(--font-size) * 3.2), 4vw, calc(var(--font-size) * 4.8)),
      ),
      56: (
        line-height: 1.15,
        font-size:
          clamp(
            calc(var(--font-size) * 3.2),
            4.5vw,
            calc(var(--font-size) * 5.6)
          ),
      ),
      64: (
        line-height: 1.1,
        font-size:
          clamp(calc(var(--font-size) * 4), 5vw, calc(var(--font-size) * 6.4)),
      ),
      80: (
        line-height: 1.05,
        font-size:
          clamp(calc(var(--font-size) * 4), 6vw, calc(var(--font-size) * 8)),
      ),
    ),
  )
);

@include set_classes(
  (
    class: 'weight',
    properties: font-weight,
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      placeholder: '::placeholder',
    ),
    values: (
      400: calc(var(--font-weight) * 4),
      500: calc(var(--font-weight) * 5),
      600: calc(var(--font-weight) * 6),
      700: calc(var(--font-weight) * 7),
    ),
  )
);

@include set_classes(
  (
    class: 'text',
    responsive: true,
    properties: text-align,
    values: (
      left: left,
      start: start,
      center: center,
      right: right,
      end: end,
      justify: justify,
    ),
  )
);

@include set_classes(
  (
    class: 'text',
    properties: text-transform,
    values: (
      capitalize: capitalize,
      uppercase: uppercase,
      lowercase: lowercase,
    ),
  )
);

@include set_classes(
  (
    class: 'decorate',
    properties: text-decoration,
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      placeholder: '::placeholder',
    ),
    values: (
      none: none,
      overline: overline,
      underline: underline,
      through: line-through,
    ),
  )
);

@include set_classes(
  (
    class: 'list-type',
    properties: list-style-type,
    values: (
      none: none,
      dotted: dotted,
      decimal: decimal,
      circle: circle,
      square: square,
    ),
  )
);
