@function shades($map: ()) {
  $shades: ();

  @each $key, $color in $map {
    @if index((transparent, current, white, black, inherit), $key) {
      $shades: map-merge($shades, (#{$key}: #{$color}));
    } @else {
      $i: 1;
      @while $i <= 11 {
        $lightness: if($i == 6, 0%, ($i - 6) * 8.75%);
        $amount: if($i < 10, $i * 10, if($i == 10, 95, 100));
        $newColor: adjust-color($color, $lightness: $lightness);

        $shades: map-merge($shades, (#{$key}-#{$amount}: #{$newColor}));

        $i: $i + 1;
      }
    }
  }

  @return $shades;
}
