$colors: (
  white: #fff,
  black: #000,
  current: currentColor,
  inherit: inherit,
  gray: #6b6977,
  red: #e10f0f,
  blue: #0041dd,
  green: #09b133,
  yellow: #c6a009,
  orange: #d85e0d,
  primary: #fb5012,
);

$shades: shades($colors);
$lightness: transparency('lightness', rgba(255, 255, 255, 1));
$darkness: transparency('darkness', rgba(0, 0, 0, 1));

$variables: map-merge(
  map-merge($shades, map-merge($lightness, $darkness)),
  (
    (
      space: 0.8rem,

      border-width: 1px,
      border-radius: 1rem,

      size: 0.8rem,

      font-size: 1rem,
      font-weight: 100,

      sidebar-panel: 28rem,
      details-panel: 32rem,

      header-panel: 4.8rem,
    )
  )
);

$breakpoints: (
  xs: 40rem,
  sm: 60rem,
  md: 71rem,
  lg: 80rem,
);
