$variables: (
  white: #ffffff,
  black: #000000,

  space: 0.8rem,

  border-width: 1px,
  border-radius: 1rem,

  size: 0.8rem,

  font-size: 1rem,
  font-weight: 100,

  sidebar-panel: 28rem,
  details-panel: 32rem,

  header-panel: 4.8rem,
);

$breakpoints: (
  xs: 40rem,
  sm: 60rem,
  md: 71rem,
  lg: 80rem,
);

$colors: (
  white: #fff,
  black: #000,
  current: currentColor,
  inherit: inherit,
  gray: #868293,
  red: #e10f0f,
  blue: #0a1af3,
  green: #12da3a,
  yellow: #edb610,
  orange: #e47616,
  purple: #5c15e1,
  primary: #ff521b,
);
